<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="nav-element">

    <style>
	.btn-primary{
		background-color: #e7746f;
		color: #fff !important;
	}
	
	a.btn-primary:hover{
		color: #e7746f !important;
	}
	
    </style>
    <template>


	<!-- Navigation start -->

	<header class="header">
		<nav class="navbar navbar-custom" role="navigation">

			<div class="container">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#home">Lankr 浪客</a>
				</div>

				<div class="collapse navbar-collapse" id="custom-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#home">Home</a></li>
						<li><a href="#about">About Us</a></li>
                        <li><a href="#themes">Why the UK</a></li>
                        <li><a href="#services">How we work</a></li>
						<li><a href="#testimonials">Testimonials</a></li>
						<li><a href="#contact">Contact</a></li>
						<li><a class="btn-primary" href="#home">Book</a></li>
					</ul>
				</div>

			</div><!-- .container -->

		</nav>
	

	</header>

	<!-- Navigation end -->
    </template>
    <script>
		
        Polymer({
            is: 'nav-element',
            ready: function(){
            },
			attached: function(){
				

		/* ---------------------------------------------- /*
		 * Navbar
		/* ---------------------------------------------- */

		$('.header').sticky({
			topSpacing: 0
		});

		$('body').scrollspy({
			target: '.navbar-custom',
			offset: 70
		})
		

			}
        });
    </script>
</dom-module>

