<link rel="import" href="elements/nav.html">
<link rel="import" href="elements/footer.html">

<dom-module id="coming-soon">
    <style>
        .coming-soon{
            text-align: center;
            padding: 50px 40px;
            background-color:
        }
    </style>

    <template>

        <nav-element></nav-element>
        <section class="pfblock">
            <div class="container">
                <div class="row">
                    <h1>Coming soon</h1>
                </div>
            </div>
            <footer-element></footer-element>
    </template> <script>
    Polymer({
        is : 'coming-soon',
        properties: {
        },
        attached : function() {
        }
    });
</script>
</dom-module>